# Service Account (chave JSON completa codificada em base64)
# Gere com: [Convert]::ToBase64String([IO.File]::ReadAllBytes("service-account.json"))
GOOGLE_SERVICE_ACCOUNT_KEY=

# Google Drive Folders
DRIVE_PORTARIAS_FOLDER_ID=1uHfYaoJDYGhcP1tZ6pjHHI-E98N_ops7
DRIVE_PAUTAS_FOLDER_ID=1LiPk4lK7kEGEoJcWfbkUzp9eo1s1Ay13
DRIVE_SGP_FOLDER_ID=1WIBmzMlPV6vfRa6rE1CkJykoZzCjsa8c

# Timezone
TZ=America/Belem
