# Google OAuth (criar em https://console.cloud.google.com -> APIs & Services -> Credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NextAuth
NEXTAUTH_SECRET= # gere com: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000

# Timezone
TZ=America/Belem
